:root{
    /*CORES - light*/
    --cor-planoDeFundo: #b2f7eb !important;
    --bs-body-bg: #b2f7eb;   
    
    
    /*CORES - dark*/

    --cor-planoDeFundo-dark: #4e4c4c;
    --cor-fonte-primaria: white;

}

[data-bs-theme="light"]{
    body{
        --bs-body-bg:#b2f7eb;  
    }
    .bg-light{
        background-color: #b2f7eb;
    }
    .form-control{
        --bs-body-bg: aliceblue !important;
    }
    .bg-img{
        background-image: url("./assents/chuttersnap-hmWcrTxvAk0-unsplash.jpg");
        width: 100%;
    }
    .btn{
        --bs-btn-border-color: black;
        --bs-btn-hover-border-color: #d33b3b;
        }
  }

[data-bs-theme="dark"]{
    body{
        background-color: var(--cor-planoDeFundo-dark) !important ;
        }
        .bg-light{
            color:#4e4c4c;
        }
}